
@import url(
    'https://fonts.googleapis.com/css?family=Exo+2:wght@300;400;500;600;700;800&family=Exo:wght@200;300;400;500;600;700;800&display=swap'
);

*,
*::before,
*::after{

 margin: 0;
 padding: 0;
 box-sizing: border-box;

}

img{
max-width: 100%;
height: auto;


}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

a,span,button,input,image,i{
    display: block;
}


button,
input{
border: none;
background: none;
outline: none;
font: inherit;

}

button,i{
    cursor: pointer;
    
}

input{
    width:100%;
}

html{
    scroll-behavior: smooth;
    font-family: "Exo",sans-serif;
    font-size: 10px;
}

body{
color:#97a9c0 ;
line-height: 1.5;
font-size: 1.5rem;
font-weight: 500;
padding-top: 60px; 


}


/*Use again*/


.container{
    padding-inline: 16px;

}

.section{
    padding-block: 125px 87px;

}

h1,h2,h3,h4,h5,h6{
    font-family: "Exo 2",sans-serif;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 5px;

}

.grid{

    display: grid;
    gap: 15px;


}

.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.img-folder{
    aspect-ratio: var(--width)/var(--height);
    background-color:#1C2321;
    overflow: hidden;
}

.section-title{
    font-size: 21px;
    line-height: 30px;
    color:#fff;
    text-align:center;


}

.title-wrapper{
    margin-block-end: 20px;



}

.title-shape{

    margin-block-start: 14px;
    margin-inline: auto;
}

.button{

padding: 14px 35px;    
background-color: #1C2321;
color: #EEF1EF;
border-radius: 50px;
font-size: 18px;
font-weight: 500;
transition: 1s ease-in-out;


}
.button:hover{
    background-color: #EEF1EF;

}


.header {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    background-color: #1C2321; 
    z-index: 1000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; 

}

.header .container{

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav_toggle{
    width: 30px;
    height: 30px;
    transition-duration: 0.5s;

}




.icon_menu{

    transition-duration: 0.5s;
    height: 3px;
    width: 20px;
    background-color:#7D98A1;
    position: relative;
    
    text-align: center;
}

.icon_menu::before{

    content: "";
    
    position: absolute;
    width: 20px;
    height: 3px;
    top: 10px;
    background-color: #EEF1EF;
}

.icon_menu::after{

    content: "";
    transition-duration: 0.5s;
    position: absolute;
    width: 20px;
    height: 3px;
    top:-10px;
    background-color: #A9B4C2;
}

.nav_toggle.active .icon_menu{
    transition: 0.5s;
    background: transparent;


}

.nav_toggle.active .icon_menu::before{

    transform: rotateZ(45deg) scaleX(1.25) translate(-5px,-5px);

}

.nav_toggle.active .icon_menu::after{

    transform: rotateZ(-45deg) scaleX(1.25) translate(-7px,7px);
    
}

/* Logo */

.logo{
    color: #a5b8be;
    font-size: 35px;
    font-weight:bolder;
    text-align: center;
    margin: 0 auto;
}

.nav_menu{
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: grid;
    place-content: center;
    background-color: #602e2e;
    visibility: hidden;
    opacity: 0;
    transition: all.5ns cubic-bezier(0.9,0.3,0.69,0.22);


}
.show_menu{
    top: 68px;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.9, 0.3, 0.69, 0.22);
}

.nav_list{
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
}

.nav_link{
    font-size: 30px;
    text-transform: uppercase;

}


/* Home */


.home{
    background-image: url("../image/IMG_3230.JPG");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: grayscale(70%);
}

.home-content{
    padding: 190px 60px ;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.home_title {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 35px;
    font-family:sans-serif;
    text-transform: uppercase; 
    color: #314449;
    font-weight: 700;
    position: absolute; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    z-index: 10;
    text-shadow: 2px 2px 5px rgba(102, 26, 26, 0.5); 

}

.typing_text {
    height: 100px; 
    overflow: hidden;
    text-align: center; 
}
.profession_text{
    
    font-family: "Exo 2",sans-serif;
    font-size: 40px;
    color: #EEF1EF;
    text-transform: uppercase;
    line-height: 4.1;
    margin-bottom: 5px;
    font-weight: 600;
    position: relative;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #EEF1EF;
    -webkit-text-stroke-width: 1px;
    white-space: nowrap;
}

.typed-cursor{
display: none;
}


.skills_list{
    display: flex;
    row-gap: 15px;
    column-gap: 30px;
    flex-wrap: wrap;
    background-color: rgba(3, 1, 2, 0.3); 
    padding: 5px 50px; 
    display: inline-block; 

}

.skills_list li{
    font-display:inherit;
    font-style:normal;
font-size: 30px;
    list-style: disc;
    color:#d3dae2;
    margin-inline-start: 5px;

}

.skills_list_span{
text-transform: uppercase;
font-size: 14px;
font-weight: 700;


}

.social_list{

    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: -30px;


}

.social_link{
    width: 40px;
    height: 40px;
    text-align: center;
    display: grid;
    place-content: center;
    border: 1.5px solid #000000;
    background-color:#9db8c0;
    font-size: 24px;
    color: #454545;
    border-radius: 50%;
    transition: all .4s ease;


}
 .social_link:hover{
    background-color: #fff;
    color: #1b8198;
}






/* Services */

.service {
    background-color: #2c2c2c; 
    color: #fff; 
    padding: 100px 0; 
}


.section_title {
font-style:normal;
    font-family: monospace;
    color:#d2d8d4;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 90px;
}


.service_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 0px;
    grid-auto-rows: 1fr;}

.service_card {
    background-color: #0b0f16;
    padding: 40px;
    border: 2px solid #7d7474;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    min-height: 300px; 
}


.title-shape {
    width: 100%; 
    max-width: 1500px; 
    aspect-ratio: 4 / 1;
    object-fit: cover; 
   
    margin-top: 90px; 
    margin-bottom: 70px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.service_card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(255, 243, 243, 0.2); 
}

.service_icon i {
    font-size: 50px; 
    color: #5e0909;
    margin-bottom: 20px; 
}


.service_content {
    margin-block-start: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.service_desc {
    font-size: 16px;
    color: #555;
}


/* About Me */






.about{
    background-color: #dfdfdf;
    padding: 32px 30px 30px;
}

.about_banner {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; 
}

.about_image {
    width: 100%; 
    max-width: 13000px; 
    max-height: 500px;
    aspect-ratio: 3 / 2; object-fit: cover; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px #dfdfdf;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

}

.about_image:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(18, 2, 2, 0.3); 
}


.about_content .bio{
   color: #2c2c2c;
   text-align: center;
   font-style:normal;
   font-family: "Exo 2", sans-serif; 
   font-weight: 700;
   font-size: 36px;
   line-height: 1,4;
   text-transform: uppercase; 
   letter-spacing: 2px; 
   margin-bottom: 20px; 



}
.about_content h4{
    text-align: center;
   margin-block-start:20px ;
   font-size: 22px;
    font-weight: 500;
    color: #4a4a4a;
    font-style: italic; 

}



.about_content .bio_desc {
    margin-block: 20px 15px;
    font-size: 18px;
    color: #333; 
    line-height: 1.8; 
    text-align: justify; 
    font-family: "Exo", sans-serif; 
    letter-spacing: 0.5px; 
}

.about_info{
    display: flex;
flex-direction: column;
gap: 38px;
padding: 30px 20px 20px;
background-color: #2c2c2c;
border:2px solid #343A40;
border-radius: 20px;
}


.about_info .name,
.about_info .span{
    font-weight: 400;
    color: #8d1818;
    font-size: 16px;
}

.about_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-block-start: 30px;
}
.about_buttons .button .download{
    background-color:transparent;
    transition: all 0.3s ease;
    
}

.about_buttons .button .download:hover{
    background-color:#fff;
    color: #2c2c2c; 
    border: 1px solid #2c2c2c;
}
.about_buttons .button {
    padding: 14px 35px;
    background-color: #22272d; 
    color: #fff;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.about_buttons .button:hover {
    background-color: #fff; 
    color: #2c2c2c; 
    border: 1px solid #2c2c2c; 
}




.skills-list {
    font-size: 14px; 
    color: #f0e7e7; 
    line-height: 1.6; 
    margin-top: 10px; 
    padding-left: 20px; 
}

.skills-list li {
    margin-bottom: 5px;
}




.progress-bar {
    background-color: #a3a3a3; 
    border-radius: 10px;
    height: 10px;
    width: 100%;
    margin-top: 5px; 
    overflow: hidden; 
}

.progress {
    background-color: #25303c; 
    height: 100%; 
    border-radius: 10px;
    transition: width 0.3s ease; 
}

.skills-list li {
    margin-bottom: 15px; 
    font-size: 14px; 
    color: #e0e0e0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}


.info_wrapper {
    background: linear-gradient(388deg, #000000, #9a9da4);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.info_wrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(255, 255, 255, 0.3);
}


.info_wrapper .name {
    font-size: 22px;
    font-weight: bold;
    color: #a8a0a0;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.info_wrapper .span {
    font-size: 18px;
    color: #e0e0e0;
    font-weight: 400;
}
.info_wrapper .skills_list {
    font-size: 14px;
    color: #e0e0e0;
    line-height: 1.6; 
    margin-top: 10px; 
}

.skills_list li {
    margin-bottom: 5px; 
}



.interests-list {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}


.interests-list li {
    display: flex; 
    align-items: center; 
    font-size: 14px; 
    color: #e0e0e0; 
}

.interests-list .circle {
    flex-shrink: 0;

    width: 10px; 
    height: 10px; 
    background-color: #9d9d9d; 
    border-radius: 50%; 
    margin-right: 10px; 
}


.work_item, .service_item, .testimonial_item, .partners img, .statistics, .contact_form, .blog_item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.title_wraper {
    text-align: center; 
    margin-bottom: 30px;
}

.section_title {
    font-size: 36px; 
    font-weight: bold;
    color: #b9b9b9; 
    margin-bottom: 20px; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

.title-shape {
    width: 100%; 
    max-width: 1900px; 
    aspect-ratio: 4 / 1; 
    object-fit: cover; 
    margin: 0 auto; 
    display: block; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.business_image {
    width: 100%; 
    max-width: 1500px; 
    height: auto; 
    display: block; 
    margin: 20px auto; 
    object-fit: cover; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}



.business_image:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.custom-button {
    background-color: #4a90e2; 
    color: #fff;
    border-radius: 25px; 
    padding: 10px 20px;
    font-size: 16px; 
    font-weight: bold;
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-button:hover {
    background-color: #357ab8; 
    transform: scale(1.05); 
}


.project-image {
    width: 100%; 
    max-width: 800px; 
    height: auto; 
    aspect-ratio: 16 / 9;
    object-fit: cover; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin: 20px auto; 
    display: block; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    filter: grayscale(100%); 

    
}

.project-image:hover {
    transform: scale(1.1); 
    filter: grayscale(0); 

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /
}

.card_title {
    font-size: 24px; 
    font-weight: bold; 
    color: #333; 
    margin-bottom: 10px; 
    text-align: center; 
}

.card_desc {
    font-size: 16px; 
    color: #555; 
    line-height: 1.6; 
    margin-bottom: 20px; 
    text-align: center; 
}

.custom-button {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #393e44; 
    color: #dddada; 
    border-radius: 25px; 
    text-decoration: none; 
    font-size: 16px; 
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    margin: 0 auto;
}

.custom-button:hover {
    background-color: #212d37; 
    transform: scale(1.05);
}



.testimonial_item {
    background-color: #f9f9f9; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  padding: 20px; 
    margin: 20px auto; 
    max-width: 800px; 
    text-align: center; 
}

.testimonial_desc {
    font-size: 18px; 
    font-style: italic;
    color: #555; 
    margin-bottom: 15px; 
    line-height: 1.6; 
}

.testimonial_author {
    font-size: 16px; 
    font-weight: bold; 
    color: #333; 
    margin-top: 10px; 
}




/* Partners */

.partners {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
    margin: 40px 20px; 
    flex-wrap: wrap; 
    background-color: #9f9f9f; 
    padding: 15px 15px; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }

.partners img {
    max-width: 200px; 
    height: 200px; 
    object-fit: contain; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.partners img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.statistics {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 30px;
    margin: 40px 0; 
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.stat_item {
    text-align: center; 
    padding: 10px; 
}

.stat_number {
    font-size: 36px; 
    font-weight: bold; 
    color: #4a90e2;
    margin-bottom: 10px; 
}

.stat_desc {
    font-size: 16px; 
    color: #555; 
    line-height: 1.4; 
}





.contact_form {
    background: linear-gradient(135deg, #34393f, #97a3ae); 
    padding: 40px; 
    border-radius: 20px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    max-width: 6000px;
   margin: 50px auto; 
    text-align: center; 
    color: #fff; 
}





.contact_title {
    font-size: 32px; 
    font-weight: bold;
    margin-bottom: 10px; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

.contact_subtitle {
    font-size: 16px;
    margin-bottom: 30px;
    color: #e0e0e0;
}

.form_input, .form_textarea {
    width: 100%; 
    padding: 15px; 
    margin-bottom: 20px; 
    border: none; 
    border-radius: 10px; 
    font-size: 16px; 
    color: #333; 
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.form_input:focus, .form_textarea:focus {
    box-shadow: 0 0 10px rgba(74, 144, 226, 0.5);
    transform: scale(1.02); 
    outline: none; 
}

.form_textarea {
    height: 150px; 
    resize: none;
}

.form_button {
    background-color: #d5d5d5; 
    color: #4d555f; 
    padding: 15px 30px;
    border: none; 
    border-radius: 25px; 
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.form_button:hover {
    background-color: #e0e0e0; 
    transform: scale(1.1); 
    color: #f5f5f5; 
}


/* Video Gallery */

.video_gallery {
    position: relative; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0; 
}

.video_gallery::before,
.video_gallery::after {
    content: ''; 
    position: absolute;
    width: 100px; 
    height: 2px; 
    background-color: #ccc; 
    display: flex;
    justify-content: space-between;
}


.video_gallery::before {
    top: -20px; 
    left: 0;
    right: 0;
    margin: auto;
}

.video_gallery::after {
    bottom: -20px; 
    left: 0;
    right: 0;
    margin: auto;
}

/* Yanlara çizgiler eklemek için */
.video_gallery::before,
.video_gallery::after {
    display: flex;
    justify-content: space-between;
}

.video_gallery::before span,
.video_gallery::after span {
    content: '';
    width: 30px; 
    height: 2px;
    background-color: #ccc; 
    margin: 0 5px; 
}
.video_gallery video {
    max-width: 90%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 2px 0; 
    max-height: 400px;
    object-fit: cover; 
}

.video_wrapper {
    background-color: #77808a; 
    padding: 40px 210px 40px 210px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

    display: flex; 
    justify-content: center; 
    align-items: center; 
    max-width: 100%; 

}

/* Video Wrapper */

.video_gallery .video_wrapper video {
    display: block;
    max-width: 100%;
    height: auto;
    min-width: 300px; 
    min-height: 200px; 
    max-height: 400px; 
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover; 
}

@media (max-width: 768px) {
    .video_gallery .video_wrapper video {
        max-width: 90%; 
        min-width: 250px;
        max-height: 300px; 
    }

    .video_wrapper {
        padding: 10px; 
    }
}

/* Blog */



.blog_item {
    background-color: #77808a; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.5s ease, box-shadow 0.3s ease; 
    text-align: center; 
    margin: 40px 20px; 
}

.blog_item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.blog_title {
    font-size: 1.8rem; 
    color: #232323; 
    margin-bottom: 10px;
    font-weight: bold; 
}

.blog_desc {
    font-size: 1.5rem; 
    color: #f1f0f0;
    margin-bottom: 15px; 
    line-height: 1.6 ;
}

.blog_item .button {
    display: inline-block;
    padding: 20px 20px;
    background-color: #212d37; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

.blog_item .button:hover {
    background-color: #6c6c6c; 
}


/* Footers */



.site_footer {
    background-color: #1C2321; 
    color: #EEF1EF; 
    text-align: center; 
    padding: 20px 0; 
    font-size: 14px; 
    font-weight: 500; 
    border-top: 1px solid #333; 
    margin-top: -60px; 
}

.site_footer p {
    margin: 0; 
}