
@import url(
    'https://fonts.googleapis.com/css?family=Exo+2:wght@300;400;500;600;700;800&family=Exo:wght@200;300;400;500;600;700;800&display=swap'
);

*,
*::before,
*::after{

 margin: 0;
 padding: 0;
 box-sizing: border-box;

}

img{
max-width: 100%;
height: auto;


}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

a,span,button,input,image,i{
    display: block;
}


button,
input{
border: none;
background: none;
outline: none;
font: inherit;

}

button,i{
    cursor: pointer;
    
}

input{
    width:100%;
}

html{
    scroll-behavior: smooth;
    font-family: "Exo",sans-serif;
    font-size: 10px;
}

body{
color:#97a9c0 ;
line-height: 1.5;
font-size: 1.5rem;
font-weight: 500;

}


/*Use again*/
.container{
    padding-inline: 16px;

}

.section{
    padding-block: 125px 87px;

}

h1,h2,h3,h4,h5,h6{
    font-family: "Exo 2",sans-serif;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 5px;

}

.grid{

    display: grid;
    gap: 15px;


}

.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.img-folder{
    aspect-ratio: var(--widht)/var(--height);
    background-color:#1C2321;
    overflow: hidden;
}

.section-title{
    font-size: 21px;
    line-height: 30px;
    color:#fff;
    text-align:center;


}

.title-wrapper{
    margin-block-end: 20px;



}

.title-shape{

    margin-block-start: 14px;
    margin-inline: auto;
}

.button{

padding: 14px 35px;    
background-color: #1C2321;
color: #EEF1EF;
border-radius: 50px;
font-size: 18px;
font-weight: 500;
transition: 1s ease-in-out;


}
.button:hover{
    background-color: #EEF1EF;

}



.header{
    position: relative;
    top: 0;
    left: 0;
    background-color: #1C2321;
    padding-block: 15px;
    width: 100%;
    z-index: 10;

}

.header .container{

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav_toggle{
    width: 30px;
    height: 30px;
    transition-duration: 0.5s;

}

.icon_menu{

    transition-duration: 0.5s;
    height: 3px;
    width: 20px;
    background-color:#7D98A1;
    position: relative;
    
    text-align: center;
}

.icon_menu::before{

    content: "";
    transition-duration: 0.5sn;
    position: absolute;
    width: 20px;
    height: 3px;
    top: 10px;
    background-color: #EEF1EF;
}

.icon_menu::after{

    content: "";
    transition-duration: 0.5sn;
    position: absolute;
    width: 20px;
    height: 3px;
    top:-10px;
    background-color: #A9B4C2;
}

.nav_toggle.active .icon_menu{
    transition: 0.5s;
    background: transparent;


}

.nav_toggle.active .icon_menu::before{

    transform: rotateZ(45deg) scaleX(1.25) translate(-5px,-5px);

}

.nav_toggle.active .icon_menu::after{

    transform: rotateZ(-45deg) scaleX(1.25) translate(-7px,7px);
    
}

.logo{
    color: #a5b8be;
    font-size: 35px;
    font-weight:bolder;
    text-align: center;
    margin: 0 auto;
}

.nav_menu{
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: grid;
    place-content: center;
    background-color: #602e2e;
    visibility: hidden;
    opacity: 0;
    transition: all.5ns cubic-bezier(0.9,0.3,0.69,0.22);


}
.show_menu{
    top: 68px;
    visibility: visible;
    opacity: 1;
    transition: all.5ns cubic-bezier(0.9, 0.3, 0.69, 0.22);
}

.nav_list{
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
}

.nav_link{
    font-size: 30px;
    text-transform: uppercase;

}


/* Home */


.home{
    background-image: url("../image/IMG_3230.JPG");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: grayscale(70%);
}

.home-content{
    padding: 190px 60px ;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.home_title {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 35px;
    font-family:sans-serif;
    text-transform: uppercase; /* Büyük harf */
    color: #314449;
    font-weight: 700;
    position: absolute; /* Konumlandırmayı kontrol etmek için absolute kullan */
    top: 20px; /* Sayfanın üst kısmına taşır */
    left: 50%; /* Yatayda ortalar */
    transform: translateX(-50%); /* Ortalamayı tamamlama */
    text-align: center; /* Metni ortala */
    z-index: 10; /* Diğer elemanların üstünde görünmesi için */
    text-shadow: 2px 2px 5px rgba(102, 26, 26, 0.5); 

}

.typing_text {
    height: 100px; /* Sabit yükseklik */
    overflow: hidden; /* Taşan içeriği gizle */
    text-align: center; /* Metni ortala */
}
.profession_text{
    
    font-family: "Exo 2",sans-serif;
    font-size: 40px;
    color: #EEF1EF;
    text-transform: uppercase;
    line-height: 4.1;
    margin-bottom: 5px;
    font-weight: 600;
    position: relative;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #EEF1EF;
    -webkit-text-stroke-width: 1px;
    white-space: nowrap;
}

.typed-cursor{
display: none;
}


.skills_list{
    display: flex;
    row-gap: 15px;
    column-gap: 30px;
    flex-wrap: wrap;
    background-color: rgba(3, 1, 2, 0.3); /* Beyaz arka plan ve %80 opaklık */
    padding: 5px 50px; /* İç boşluk */
    display: inline-block; /* Blok seviyesinde görünüm */

}

.skills_list li{
    font-display:inherit;
    font-style:normal;
font-size: 30px;
    list-style: disc;
    color:#d3dae2;
    margin-inline-start: 5px;

}

.skills_list_span{
text-transform: uppercase;
font-size: 14px;
font-weight: 700;


}

.social_list{

    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: -30px;


}

.social_link{
    width: 40px;
    height: 40px;
    text-align: center;
    display: grid;
    place-content: center;
    border: 2px solid #1C2321;
    background-color: transparent;
    font-size: 24px;
    color: #290808;
    border-radius: 50%;
    transition: all .4s ease;

}
 .social_link:hover{
    background-color: #fff;
    color: #1b8198;
}






/* Services */

.service {
    background-color: #2c2c2c; /* Koyu gri arka plan */
    color: #fff; /* Yazı rengini beyaz yap */
    padding: 100px 0; /* Üst ve alt boşluk ekle */
}


.section_title {
font-style:normal;
    font-family: monospace;
    color:#d2d8d4; /* Başlık rengini beyaz yap */
    font-size: 40px; /* Başlık boyutunu artır */
    text-align: center; /* Ortala */
    margin-bottom: 30px; /* Alt boşluk ekle */
    margin-top: 90px;
}


.service_list {
    display: grid; /* Grid düzeni kullan */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Kartları otomatik hizala */
    gap: 20px; /* Kartlar arasındaki boşluk */
    justify-content: center; /* Ortala */
    padding: 0px; /* İç boşluk */
    grid-auto-rows: 1fr; /* Tüm satırları eşit yükseklikte yap */}

.service_card {
    background-color: #0b0f16;
    padding: 40px; /* Kart içeriği için boşluk */
    border: 2px solid #7d7474;
    border-radius: 15px; /* Daha az yuvarlak köşeler */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hover efekti */
    display: flex; /* İçeriği hizalamak için flex kullan */
    flex-direction: column; /* İçeriği dikey hizala */
    justify-content: space-between; /* İçeriği eşit boşluklarla hizala */
    min-height: 300px; /* Kartların minimum yüksekliğini ayarla */
}


.title-shape {
    width: 100%; /* Görselin genişliğini küçült */
    max-width: 1500px; /* Maksimum genişliği belirle */
    aspect-ratio: 4 / 1; /* Görseli dar yapmak için en-boy oranı */
    object-fit: cover; /* Görseli kapla */
    /* height: auto;  */
    margin-top: 90px; /* Görseli biraz aşağıya al */
    margin-bottom: 70px; /* Alt boşluk ekle */
    display: block; /* Görseli blok seviyesinde göster */
    margin-left: auto; /* Ortalamak için sola boşluk */
    margin-right: auto; /* Ortalamak için sağa boşluk */
}

.service_card:hover {
    transform: translateY(-10px); /* Hover durumunda yukarı kaldır */
    box-shadow: 0 8px 16px rgba(255, 243, 243, 0.2); /* Hover durumunda gölgeyi artır */
}

.service_icon i {
    font-size: 50px; /* İkon boyutu */
    color: #5e0909;
    margin-bottom: 20px; 
}


.service_content {
    margin-block-start: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service_title {
    font-size: 20px; /* Başlık boyutu */
    font-weight: bold;
    margin-bottom: 10px;
}

.service_desc {
    font-size: 16px;
    color: #555;
}


/* HAkkimda */






.about{
    background-color: #dfdfdf;
    padding: 32px 30px 30px;
}

.about_banner {
    display: flex;
    justify-content: center; /* Görseli yatayda ortala */
    margin-bottom: 30px; /* Alt boşluk */
}

.about_image {
    width: 100%; /* Görselin genişliğini kapsayıcıya göre ayarla */
    max-width: 13000px; /* Maksimum genişliği belirle */
    max-height: 500px; /* Maksimum yüksekliği belirle */
    aspect-ratio: 3 / 2; /* En-boy oranını ayarla */
    object-fit: cover; /* Görseli kapsayıcıya sığdır */
    border-radius: 15px; /* Köşeleri yuvarlat */
    box-shadow: 0 4px 8px #dfdfdf; /* Hafif gölge */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hover efekti */
}

.about_image:hover {
    transform: scale(1.05); /* Hover durumunda büyüt */
    box-shadow: 0 8px 16px rgba(18, 2, 2, 0.3); /* Hover durumunda gölgeyi artır */
}


.about_content .bio{
   color: #2c2c2c;
   text-align: center;
   font-style:normal;
   font-family: "Exo 2", sans-serif; /* Daha modern bir font */
   font-weight: 700;
   font-size: 36px;
   line-height: 1,4;
   text-transform: uppercase; /* Büyük harf */
   letter-spacing: 2px; /* Harfler arası boşluk */
   margin-bottom: 20px; /* Alt boşluk */



}
.about_content h4{
    text-align: center;
   margin-block-start:20px ;
   font-size: 22px;
    font-weight: 500;
    color: #4a4a4a;
    font-style: italic; /* Yazıya zarif bir görünüm ekle */

}



.about_content .bio_desc {
    margin-block: 20px 15px;
    font-size: 18px; /* Yazı boyutunu artır */
    color: #333; /* Daha koyu bir renk */
    line-height: 1.8; /* Satır yüksekliği */
    text-align: justify; /* Yazıyı iki yana yasla */
    font-family: "Exo", sans-serif; /* Modern bir font */
    letter-spacing: 0.5px; /* Harfler arası hafif boşluk */
}

.about_info{
    display: flex;
flex-direction: column;
gap: 38px;
padding: 30px 20px 20px;
background-color: #2c2c2c;
border:2px solid #343A40;
border-radius: 20px;
}


.about_info .name,
.about_info .span{
    font-weight: 400;
    color: #8d1818;
    font-style: 16px;
}

.about_buttons {
    display: flex;
    align-items: center;
    justify-content: center; /* Butonları ortala */
    gap: 15px; /* Butonlar arasındaki boşluk */
    margin-block-start: 30px;
}
.about_buttons .button .download{
    background-color:transparent;
    transition: all 0.3s ease;
    
}

.about_buttons .button .download:hover{
    background-color:#fff;
    color: #2c2c2c; /* Yazı rengini koyu yap */
    border: 1px solid #2c2c2c;
}
.about_buttons .button {
    padding: 14px 35px;
    background-color: #22272d; /* Daha canlı bir renk */
    color: #fff; /* Yazı rengini beyaz yap */
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge */
}

.about_buttons .button:hover {
    background-color: #fff; /* Hover durumunda arka plan beyaz */
    color: #2c2c2c; /* Hover durumunda yazı rengini koyu yap */
    border: 1px solid #2c2c2c; /* Kenarlık ekle */
}

/* Key Skills ve Info Wrapper için Yaratıcı Stil */

.skills-list {
    font-size: 14px; /* Yazı boyutunu küçült */
    color: #f0e7e7; /* Yazı rengini koyu yap */
    line-height: 1.6; /* Satır yüksekliği */
    margin-top: 10px; /* Listenin üst kısmına boşluk ekle */
    padding-left: 20px; /* Liste işaretleri için boşluk */
}

.skills-list li {
    margin-bottom: 5px; /* Liste elemanları arasına boşluk ekle */
}




.progress-bar {
    background-color: #a3a3a3; /* Arka plan rengi */
    border-radius: 10px;
    height: 10px;
    width: 100%; /* Çubuğun genişliği */
    margin-top: 5px; /* Üst boşluk */
    overflow: hidden; /* Taşan içeriği gizle */
}

.progress {
    background-color: #25303c; /* İlerleme çubuğu rengi */
    height: 100%; /* Çubuğun yüksekliği */
    border-radius: 10px;
    transition: width 0.3s ease; /* Animasyon efekti */
}

.skills-list li {
    margin-bottom: 15px; /* Liste elemanları arasına boşluk ekle */
    font-size: 14px; /* Yazı boyutunu küçült */
    color: #e0e0e0; /* Yazı rengi */
    line-height: 1.6; /* Satır yüksekliği */
    display: flex;
    flex-direction: column; /* Dikey hizalama */
}


.info_wrapper {
    background: linear-gradient(388deg, #000000, #9a9da4); /* Modern degrade arka plan */
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px; /* Üstten boşluk ekle */

    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info_wrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(255, 255, 255, 0.3);
}


.info_wrapper .name {
    font-size: 22px;
    font-weight: bold;
    color: #a8a0a0;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.info_wrapper .span {
    font-size: 18px;
    color: #e0e0e0;
    font-weight: 400;
}
.info_wrapper .skills_list {
    font-size: 14px; /* Yazı boyutunu küçült */
    color: #e0e0e0;
    line-height: 1.6; /* Satır yüksekliği */
    margin-top: 10px; /* Liste ile başlık arasına boşluk ekle */
}
.skills_list li {
    margin-bottom: 5px; /* Liste elemanları arasına boşluk ekle */
}



.interests-list {
    list-style: none; /* Varsayılan liste işaretlerini kaldır */
    padding: 0; /* İç boşluğu kaldır */
    margin: 0; /* Dış boşluğu kaldır */
    display: flex; /* Flexbox kullan */
    flex-direction: column; /* Öğeleri aşağıdan yukarıya sıralamak için ters yön */
    gap: 10px; /* Öğeler arasına boşluk ekle */
}

.interests-list li {
    display: flex; /* İkon ve metni yan yana hizala */
    align-items: center; 
    font-size: 14px; /* Yazı boyutunu ayarla */
    color: #e0e0e0; /* Yazı rengini ayarla */
}

.interests-list .circle {
    flex-shrink: 0; /* Yuvarlağın boyutunun metne göre küçülmesini engelle */

    width: 10px; /* Yuvarlağın genişliği */
    height: 10px; /* Yuvarlağın yüksekliği */
    background-color: #9d9d9d; /* Yuvarlağın rengi */
    border-radius: 50%; /* Yuvarlak şekil */
    margin-right: 10px; /* Metin ile yuvarlak arasına boşluk ekle */
}


.work_item, .service_item, .testimonial_item, .partners img, .statistics, .contact_form, .blog_item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.title_wraper {
    text-align: center; /* Başlık ve görseli ortala */
    margin-bottom: 30px; /* Alt boşluk ekle */
}

.section_title {
    font-size: 36px; /* Başlık boyutu */
    font-weight: bold;
    color: #b9b9b9; /* Başlık rengi */
    margin-bottom: 20px; /* Başlık ile görsel arasına boşluk ekle */
    text-transform: uppercase; /* Büyük harf yap */
    letter-spacing: 2px; /* Harfler arası boşluk */
}

.title-shape {
    width: 100%; /* Görselin genişliğini kapsayıcıya göre ayarla */
    max-width: 1900px; /* Maksimum genişliği belirle */
    aspect-ratio: 4 / 1; /* En-boy oranını ayarla */
    object-fit: cover; /* Görseli kapsayıcıya sığdır */
    margin: 0 auto; /* Ortalamak için */
    display: block; /* Görseli blok seviyesinde göster */
    border-radius: 15px; /* Köşeleri yuvarlat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge */
}



.custom-button {
    background-color: #4a90e2; /* Özel arka plan rengi */
    color: #fff; /* Yazı rengi */
    border-radius: 25px; /* Köşeleri yuvarlat */
    padding: 10px 20px; /* İç boşluk */
    font-size: 16px; /* Yazı boyutu */
    font-weight: bold;
    text-decoration: none; /* Alt çizgiyi kaldır */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Hover efekti */
}

.custom-button:hover {
    background-color: #357ab8; /* Hover durumunda arka plan rengi */
    transform: scale(1.05); /* Hover durumunda büyüt */
}


.project-image {
    width: 100%; /* Görselin genişliğini kapsayıcıya göre ayarla */
    max-width: 800px; /* Maksimum genişliği daralt */
    height: auto; /* Yüksekliği otomatik ayarla */
    aspect-ratio: 16 / 9; /* Görselin en-boy oranını ayarla */
    object-fit: cover; /* Görseli kapsayıcıya sığdır */
    border-radius: 15px; /* Köşeleri yuvarlat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
    margin: 20px auto; /* Üst ve alt boşluk ekle, ortala */
    display: block; /* Görseli blok seviyesinde göster */
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    filter: grayscale(100%); /* Görseli siyah-beyaz yap */

    
}

.project-image:hover {
    transform: scale(1.1); /* Hover durumunda görseli büyüt */
    filter: grayscale(0); /* Görseli siyah-beyaz yap */

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Hover durumunda gölgeyi artır */
}

.card_title {
    font-size: 24px; /* Başlık boyutunu artır */
    font-weight: bold; /* Kalın yazı */
    color: #333; /* Başlık rengi */
    margin-bottom: 10px; /* Alt boşluk */
    text-align: center; /* Metni ortala */
}

.card_desc {
    font-size: 16px; /* Açıklama metni boyutu */
    color: #555; /* Açıklama metni rengi */
    line-height: 1.6; /* Satır yüksekliği */
    margin-bottom: 20px; /* Alt boşluk */
    text-align: center; /* Metni ortala */
}

.custom-button {
    display: inline-block; /* Butonu satır içi blok yap */
    padding: 10px 20px; /* İç boşluk */
    background-color: #393e44; /* Buton arka plan rengi */
    color: #dddada; /* Yazı rengi */
    border-radius: 25px; /* Köşeleri yuvarlat */
    text-decoration: none; /* Alt çizgiyi kaldır */
    font-size: 16px; /* Yazı boyutu */
    font-weight: bold; /* Kalın yazı */
    text-align: center; /* Metni ortala */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Hover efekti */
    margin: 0 auto; /* Ortalamak için */
}

.custom-button:hover {
    background-color: #212d37; /* Hover durumunda arka plan rengi */
    transform: scale(1.05); /* Hover durumunda büyüt */
}



.testimonial_item {
    background-color: #f9f9f9; /* Arka plan rengi */
    border-radius: 15px; /* Köşeleri yuvarlat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
    padding: 20px; /* İçerik için boşluk */
    margin: 20px auto; /* Üst ve alt boşluk ekle, ortala */
    max-width: 800px; /* Maksimum genişlik */
    text-align: center; /* Metni ortala */
}

.testimonial_desc {
    font-size: 18px; /* Açıklama metni boyutu */
    font-style: italic; /* Yazıyı italik yap */
    color: #555; /* Açıklama metni rengi */
    margin-bottom: 15px; /* Alt boşluk */
    line-height: 1.6; /* Satır yüksekliği */
}

.testimonial_author {
    font-size: 16px; /* Yazar adı boyutu */
    font-weight: bold; /* Kalın yazı */
    color: #333; /* Yazar adı rengi */
    margin-top: 10px; /* Üst boşluk */
}




/* Partners */

.partners {
    display: flex; /* Logoları yan yana hizala */
    justify-content: center; /* Logoları yatayda ortala */
    align-items: center; /* Logoları dikeyde ortala */
    gap: 30px; /* Logolar arasında boşluk bırak */
    margin: 40px 20px; /* Üst ve alt boşluk ekle */
    flex-wrap: wrap; /* Küçük ekranlarda logoların alt alta geçmesini sağla */
    background-color: #9f9f9f; /* Arka plan rengini açık gri yap */
    padding: 15px 15px; /* İçerik için boşluk ekle */
    border-radius: 15px; /* Köşeleri yuvarlat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */}

.partners img {
    max-width: 200px; /* Logoların maksimum genişliğini ayarla */
    height: 200px; /* Yüksekliği otomatik ayarla */
    object-fit: contain; /* Görsellerin orantılı şekilde sığmasını sağla */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hover efekti için geçiş */
    border-radius: 100%; /* Köşeleri hafif yuvarlat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
}

.partners img:hover {
    transform: scale(1.1); /* Hover durumunda logoyu büyüt */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Hover durumunda gölgeyi artır */
}


.statistics {
    display: flex; /* Stat item'ları yan yana hizala */
    justify-content: center; /* Stat item'ları yatayda ortala */
    align-items: center; /* Stat item'ları dikeyde ortala */
    gap: 30px; /* Stat item'lar arasında boşluk bırak */
    margin: 40px 0; /* Üst ve alt boşluk ekle */
    padding: 20px; /* İçerik için boşluk ekle */
    background-color: #f9f9f9; /* Arka plan rengini açık gri yap */
    border-radius: 15px; /* Köşeleri yuvarlat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
}

.stat_item {
    text-align: center; /* Metni ortala */
    padding: 10px; /* İçerik için boşluk ekle */
}

.stat_number {
    font-size: 36px; /* Sayı boyutunu artır */
    font-weight: bold; /* Kalın yazı */
    color: #4a90e2; /* Sayı rengi */
    margin-bottom: 10px; /* Alt boşluk */
}

.stat_desc {
    font-size: 16px; /* Açıklama metni boyutu */
    color: #555; /* Açıklama metni rengi */
    line-height: 1.4; /* Satır yüksekliği */
}





.contact_form {
    background: linear-gradient(135deg, #34393f, #97a3ae); /* Modern degrade arka plan */
    padding: 40px; /* İçerik için boşluk */
    border-radius: 20px; /* Köşeleri yuvarlat */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
    max-width: 6000px; /* Maksimum genişlik */
    margin: 50px auto; /* Ortalamak için üst-alt ve yan boşluk */
    text-align: center; /* Metni ortala */
    color: #fff; /* Yazı rengini beyaz yap */
}





.contact_title {
    font-size: 32px; /* Başlık boyutu */
    font-weight: bold; /* Kalın yazı */
    margin-bottom: 10px; /* Alt boşluk */
    text-transform: uppercase; /* Büyük harf yap */
    letter-spacing: 2px; /* Harfler arası boşluk */
}

.contact_subtitle {
    font-size: 16px; /* Alt başlık boyutu */
    margin-bottom: 30px; /* Alt boşluk */
    color: #e0e0e0; /* Daha açık bir yazı rengi */
}

.form_input, .form_textarea {
    width: 100%; /* Genişliği kapsayıcıya göre ayarla */
    padding: 15px; /* İçerik için boşluk */
    margin-bottom: 20px; /* Alt boşluk */
    border: none; /* Kenarlık kaldır */
    border-radius: 10px; /* Köşeleri yuvarlat */
    font-size: 16px; /* Yazı boyutu */
    color: #333; /* Yazı rengi */
    background-color: #fff; /* Arka plan rengi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Geçiş efekti */
}

.form_input:focus, .form_textarea:focus {
    box-shadow: 0 0 10px rgba(74, 144, 226, 0.5); /* Odaklanıldığında gölge efekti */
    transform: scale(1.02); /* Odaklanıldığında hafif büyüt */
    outline: none; /* Varsayılan odak çizgisini kaldır */
}

.form_textarea {
    height: 150px; /* Textarea yüksekliği */
    resize: none; /* Yeniden boyutlandırmayı devre dışı bırak */
}

.form_button {
    background-color: #d5d5d5; /* Buton arka plan rengi */
    color: #4d555f; /* Yazı rengi */
    padding: 15px 30px; /* İçerik için boşluk */
    border: none; /* Kenarlık kaldır */
    border-radius: 25px; /* Köşeleri yuvarlat */
    font-size: 16px; /* Yazı boyutu */
    font-weight: bold; /* Kalın yazı */
    cursor: pointer; /* İmleç değişimi */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Geçiş efekti */
}

.form_button:hover {
    background-color: #e0e0e0; /* Hover durumunda arka plan rengi */
    transform: scale(1.1); /* Hover durumunda büyüt */
    color: #f5f5f5; /* Hover durumunda yazı rengi */
}


/* Video galerisini ortalamak ve düzenlemek için */
.video_gallery {
    position: relative; /* Çizgileri konumlandırmak için gerekli */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0; /* Üst ve alt boşluğu daha da daralttık */
}

.video_gallery::before,
.video_gallery::after {
    content: ''; /* Pseudo-element içeriği */
    position: absolute;
    width: 100px; /* Çizgilerin genişliği */
    height: 2px; /* Çizgilerin yüksekliği */
    background-color: #ccc; /* Çizgilerin rengi */
    display: flex;
    justify-content: space-between;
}


.video_gallery::before {
    top: -20px; /* Videonun üst kısmına yerleştir */
    left: 0;
    right: 0;
    margin: auto;
}

.video_gallery::after {
    bottom: -20px; /* Alt kısmına yerleştir */
    left: 0;
    right: 0;
    margin: auto;
}

/* Yanlara çizgiler eklemek için */
.video_gallery::before,
.video_gallery::after {
    display: flex;
    justify-content: space-between;
}

.video_gallery::before span,
.video_gallery::after span {
    content: '';
    width: 30px; /* Çizgi genişliği */
    height: 2px; /* Çizgi yüksekliği */
    background-color: #ccc; /* Çizgi rengi */
    margin: 0 5px; /* Çizgiler arasındaki boşluk */
}
.video_gallery video {
    max-width: 90%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 2px 0; /* Video etrafındaki boşluk daha da az */
    max-height: 400px; /* Videonun yüksekliğini sınırladık */
    object-fit: cover; /* Gerekirse videoyu biraz keser ama estetik kalır */
}

.video_wrapper {
    background-color: #77808a; /* Arka plan rengini buradan değiştirebilirsiniz */
    padding: 40px 210px 40px 210px ; /* Videonun etrafında boşluk bırakır */
    border-radius: 8px; /* Köşeleri yuvarlatır */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif bir gölge ekler */

    display: flex; /* Esnek düzen */
    justify-content: center; /* Videoyu yatayda ortala */
    align-items: center; /* Videoyu dikeyde ortala */
    max-width: 100%; /* Kapsayıcının genişliğini sınırla */

}

/* Sadece video galerisindeki videoları hedeflemek için */
.video_gallery .video_wrapper video {
    display: block;
    max-width: 100%;
    height: auto;
    min-width: 300px; /* Videonun minimum genişliği */
    min-height: 200px; /* Videonun minimum yüksekliği */
    max-height: 400px; /* Videonun maksimum yüksekliği */
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover; /* Gerekirse videoyu biraz keser ama estetik kalır */
}

@media (max-width: 768px) {
    .video_gallery .video_wrapper video {
        max-width: 90%; /* Küçük ekranlarda genişliği %90 yap */
        min-width: 250px; /* Minimum genişliği biraz daha küçült */
        max-height: 300px; /* Maksimum yüksekliği küçült */
    }

    .video_wrapper {
        padding: 10px; /* Küçük ekranlarda daha az boşluk bırak */
    }
}


/* Blog öğesi için stil */
.blog_item {
    background-color: #77808a; /* Hafif bir arka plan rengi */
    border: 1px solid #ddd; /* İnce bir kenarlık */
    border-radius: 8px; /* Köşeleri yuvarlat */
    padding: 20px; /* İçerik etrafında boşluk */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif bir gölge */
    transition: transform 0.5s ease, box-shadow 0.3s ease; /* Hover animasyonu */
    text-align: center; /* Metni ortala */
    margin: 40px 20px; /* Üst ve alt boşluk */
}

.blog_item:hover {
    transform: translateY(-5px); /* Hover sırasında yukarı kaldır */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Hover sırasında gölgeyi artır */
}

.blog_title {
    font-size: 1.8rem; /* Başlık boyutu */
    color: #232323; /* Başlık rengi */
    margin-bottom: 10px; /* Alt boşluk */
    font-weight: bold; /* Kalın yazı */
}

.blog_desc {
    font-size: 1.5rem; /* Açıklama boyutu */
    color: #f1f0f0; /* Açıklama rengi */
    margin-bottom: 15px; /* Alt boşluk */
    line-height: 1.6; /* Satır yüksekliği */
}

.blog_item .button {
    display: inline-block;
    padding: 20px 20px; /* Buton iç boşluğu */
    background-color: #212d37; /* Buton arka plan rengi */
    color: #fff; /* Buton yazı rengi */
    text-decoration: none; /* Alt çizgiyi kaldır */
    border-radius: 5px; /* Köşeleri yuvarlat */
    transition: background-color 0.3s ease; /* Hover animasyonu */
}

.blog_item .button:hover {
    background-color: #6c6c6c; /* Hover sırasında buton rengi */
}


/* Footer için stil */
.site_footer {
    background-color: #1C2321; /* Koyu bir arka plan rengi */
    color: #EEF1EF; /* Yazı rengini açık gri yap */
    text-align: center; /* Metni ortala */
    padding: 20px 0; /* Üst ve alt boşluk */
    font-size: 14px; /* Yazı boyutu */
    font-weight: 500; /* Yazı kalınlığı */
    border-top: 1px solid #333; /* Üst kısma ince bir çizgi */
    margin-top: -60px; /* Footer ile üstteki içerik arasında boşluk */
}

.site_footer p {
    margin: 0; /* Varsayılan boşlukları kaldır */
}